<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/footer.css">
    <title>footer</title>
</head>
<body>
      <!-- Company contact info -->
	<section class="contact-info">
		<h2>Contact Information</h2>
		<address>
			Playing with Words<br>
			Email: <a href="mailto:pww@info.com">pww@info.com</a>
		</address>
	</section>

	<!-- Footer section -->
	<footer>
		<p>© Playing with Words. All rights reserved.</p>
	</footer>
	<script src="script.js"></script>
</body>
</html>


