
<head>
<title>About</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>

<body class="w3-light-grey">
  <head>
		<meta charset="UTF-8">
		<title> PWW - Playing with Words</title>
		<meta name="description">
		<link rel="stylesheet" type="text/css" href="css/normalize.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/layout.css">
        <link rel="stylesheet" href="../css/index.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#myNavbar">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button> 
            <div class="navbar-left logo">
            </div>
		    <h1 class="brand brand-name navbar-left"><div class"navbar-left">PWW</div></h1>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/contact">Contact-Us</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1 style="font-size: 45px;"><b>Playing with Words</b></h1>
  <p></p>
</header>

<!-- Grid -->
<div class="w3-row" style="width: 100%;">

<!-- Blog entries -->
<div class="w3-col">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h2><b>Welcome to the world of word games</b></h2>
    </div>
    <div class="w3-container">
        <h4>Gaming is one of the world’s most popular pastimes. According to Statista, there are an estimated 3.24 billion video gamers across the world. And that’s just video gamers. When you add in all the people who play games or use puzzle apps on their smartphones, the number of gamers globally is almost impossible to imagine! <br>
            Because there are millions of English-speaking gamers, gaming gives you a brilliant opportunity to practise your language skills. But does gaming really help you to improve? We say ‘yes’ – and show you 6 ways gaming can help you improve your English.</h5> <br>
                
            <h3>1. Gaming is motivating </h3>
            <h5>Motivation is one of the most powerful influences on language learning. According to this article in The Guardian, ‘most people who do achieve a high level of success also turn out to be very strongly motivated.’ <br>
                
            That’s part of the beauty of using gaming to improve your language skills. If you need to understand and communicate in English to play a game, it motivates you to improve. You’re not learning English because you feel you have to. Instead, you’re improving it because you want to enjoy gaming even more. That’s a very powerful reason to get good at English! </h5> <br>
                
            <h3>2. Games are part of your daily life </h3> <br>
            <h5>People who love to play games online tend to play them often. If gaming is part of your routine, then improving your English can become part of your day-to-day life. <br>
                
            The main advantage of this is that you can soon build up many hours of English practice. In this BBC article, language consultant Philida Schellekens says that when she researched language learning in Australia, it was thought that it took 1,765 hours to reach the standard of English needed to do a clerical job in an office. <br>
                
            The more hours you spend reading, writing, listening and talking in English while gaming, the faster you’ll build up this all-important practice time. In fact, you’ll hardly notice the hours passing by!</h5> <br>
                
            <h3>3. Mistakes don’t matter (much)</h3> <br>
            <h5>If you communicate with other players when you are gaming, no-one expects your English to be perfect. The English used in video-gaming environments tends to be very informal and very few people care about spelling mistakes or grammatical bloopers. You’re using English to communicate and collaborate, not to pass a formal test. For this reason, using English in gaming environments is a great way to boost your confidence. People are more interested in how well you play, not in how perfect your language skills are.</h5> <br>
                
            <h3>4. Repetition is great for your memory</h3> <br>
            <h5>When you play certain online games, you’ll find yourself using many of the same words and phrases over and over again. Some of these might be gamer slang, such as BRB (‘Be Right Back’), GG (‘Good Game’) or OTW (‘On The Way). Others might be items within the game, such as ‘shovel’, ‘shield’ or ‘chainmail’. Still more might be phrases that are useful for collaboration, like ‘Do you follow my lead?’ or ‘I’m heading east’. <br>
                
                You may already know that repetition is a valuable technique for acquiring language. So enjoy using the same useful words and phrases as you play games – the more you use them, the easier they will be to remember.</h5> <br>
                
                <h3>5. Games are immersive environments</h3> <br>
                 <h5>Many video games are truly immersive environments. Often they have their own virtual ‘world’ in which players interact with each other. To succeed you’ll need to learn how to understand instructions in English, communicate with others via text or voice, and react quickly to new information. <br>
                
                Playing in this way means that you learn to understand English instinctively. When there’s no time to stop and run phrases through an online translator, you soon become more fluent – both at understanding other people and talking to them. </h5> <br>
                
            <h3>6. Different games can help improve different skills</h3> <br>
                <h5>When it comes to improving your English, some games are better than others. For example, if you’re a fan of first-person shooter games, then you probably won’t need to use much English to play. On the other hand, if you like to play MMO (Massively Multiplayer Online) games, you’ll need to interact with other players using text or voice. That’s why these games are great for improving your listening, speaking, reading and writing skills. <br>
                
                However, remember that it’s not just video games that can improve your English. You can download all sorts of games to your smartphone or tablet, many of which are great for language learning. For example, if you want to improve your vocabulary, word games such as crosswords or Scrabble are excellent. Head to your app store and explore what’s out there. </h5><br>
                <p>
                <h4>As you can see, gaming can be a fun and enjoyable way to improve your English. We know it works because the science backs it up. </p>
        
    </div>

    <!-- END GRID -->
    </div><br>
    
    <!-- END w3-content -->
    </div>
    
</body>

